*{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}
html{
    scroll-behavior: smooth;
}
@media(max-width: 700px){
}

.header{
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', monospace;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #282828;
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}
.hero-btn:hover{
    opacity: 50%;
    transition: 1.2s;
}

.enter{
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', monospace;
}
.enter p{
    display: inline-block;
    text-decoration: none;
    color: #eaeaea;
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}